.page-main
	&__top
		background-image url(/assets/images/slider-photo.png)
	
	&__browsers-ideas
		padding-top 60px
		background-color #fbfaf8
		@media (max-width:800px)
			padding-top 30px
		@media (max-width:800px)
			padding-top 15px

	&__gradient
		padding 40px 0
		background linear-gradient(90deg, #211b19, #4e3427)
		@media (max-width:900px)
			padding-y 20px


	&__presentation
		display block
		background-image url(/assets/images/bg-video.png)
		background-repeat no-repeat
		background-size cover
	&__mobile
		margin-top 80px
	&__stat-info
		padding 40px 0
		background linear-gradient(90deg, #211b19, #4e3427)
	&__clients
		background-image url(/assets/images/clients-photo.png)
		background-repeat no-repeat
		background-size cover
	&__summary
		background-color #191919
	&__final
		padding-y 30px
		background-color #111111
		@media (max-width:660px)
			padding-y 10px

