include /blocks/button/button
include /blocks/header/header
include /blocks/services/services
include /blocks/container/container
include /blocks/slider/slider
include /blocks/browsers/browsers
include /blocks/insertion/insertion
include /blocks/projects/projects
include /blocks/video-youtube/video-youtube
include /blocks/video-start-screen/video-start-screen
include /blocks/mobile-dev/mobile-dev
include /blocks/statistyx/statistyx
include /blocks/logos/logos
include /blocks/info/info
include /blocks/footer/footer


mixin page-main()
	+b.page-main&attributes(attributes)
		+e('section').top
			+container()
				+header([
					{name:'Home', href:'#'},
					{name:'About us', href:'#'},
					{name:'Portfolio', href:'#'},
					{name:'Features', href:'#'},
					{name:'Blog', href:'#'},
					{name:'Pricing', href:'#'},
					{name:'Shortcodes', href:'#'},
					{name:'Contacts', href:'#'}
				])
				+slider()
		+e('section').categories
			+container()
				+services()
		+e.browsers-ideas
			+container()
				+browsers()
		+e.gradient
			+container()
				+insertion()
		+e('section').waxom-projects
			+container()
				+projects()
		+e('section').presentation
			+video-youtube()
			+video-start-screen()
		+e('section').mobile
			+container()
				+mobile-dev()
		+e('section').stat-info
			+container()
				+statistyx()
		+e('section').clients
			+container()
				+logos()
		+e('section').summary
			+container()
				+info()
		+e('section').final
			+container()
				+footer()
