.page-main
	&__top
		background-image url(/assets/images/slider-photo.png)
	
	&__browsers-ideas
		padding-top 60px
		background-color #fbfaf8

	&__gradient
		padding 40px 0
		background linear-gradient(90deg, #211b19, #4e3427)

	&__presentation
		display block
		height 705px
		background-image url(/assets/images/bg-video.png)
		background-repeat no-repeat
		background-size contain
