include /blocks/icon/icon
include /blocks/title/title

mixin video-player()
	+b.video-player&attributes(attributes)
		+e.box
			+e('video').window(src='/assets/videos/waxom-video.mp4' width='550px' muted)
			+e.contain
				+icon('icon-play').play
				+title('Our Latest Projects.', 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.').video-player__title
			+e.controls
				+e.panel-item
					+e('button').play-btn
						+icon('icon-play').play-btn-icon
				+e.panel-item.video-player__panel-item_progress
					+e('input').scroll-bar.video-player__scroll-bar_progress(type='range')
				+e.panel-item
					+e('button').volume-btn
						+icon('volume').volume-btn-icon
				+e.panel-item
					+e('input').scroll-bar.video-player__scroll-bar_volume(type='range')
