.insertion
	&__wrapper
		margin 0 auto
		display flex
		max-width 800px
		align-items center
		justify-content space-between
	&__title
		padding-bottom 10px
		font-size 28px
		color #fff
	&__subtitle
		font-size 18px
		color #5a514e