.insertion
	&__wrapper
		margin 0 auto
		display flex
		max-width 800px
		align-items center
		justify-content space-between
	&__title
		padding-bottom 10px
		font-family 'Raleway'
		font-size 28px
		font-weight 400
		color $white
		&_colored
			color #b29f88

	&__subtitle
		font-size 18px
		color #5a514e
	@media (max-width:900px)
		&__title
			padding-bottom 5px
			font-size 22px
		&__subtitle
			font-size 14px
	@media (max-width:700px)
		&__wrapper
			flex-wrap wrap
			justify-content center
		&__inner
			width 100%
			text-align center
		&__subtitle
			padding-bottom 10px
	@media (max-width:450px)
		&__title
			font-size 18px
		&__subtitle
			font-size 12px

	