include /blocks/button/button

mixin insertion()
	+b.insertion&attributes(attributes)
		+e.wrapper
			+e.inner
				+e('h2').title 
					+e('span').title._colored Waxom 
					| Multipurpose WordPress Theme
				+e('h3').subtitle Don't Forget to Rate the Template. Thanks so much!
			+button('submit', 'Purchase Now')