mixin project(data, image, title, description)
	+b('div').project(data-category=data)
		+e.wrap
			+e('img').img(src=image, alt='Project Image')
			+e.hover-icons
				+icon('link').link
				+icon('lupa').lupa
			+icon('arrow').arrow
		+e('span').title
			!= title
		+e('p').description
			!= description