.main-title
	padding-bottom 80px
	width 56%
	font-family 'Raleway'
	color $white
	&__subtitle
		font-size 36px
	&__title
		margin-y (20px)
		font-size 52px
		font-weight 800
	&__description
		font-family 'Montserrat Light'
		font-size 16px
		font-weight 300
	@media (max-width:976px)
		padding-bottom 30px
		width 70%
		&__subtitle
			font-size 24px
		&__title
			margin-y (20px)
			font-size 38px
		&__description
			font-size 14px
	@media(max-width:640px)
		padding-bottom 60px
		width 90%
	@media(max-width:480px)
		&__subtitle
			display none
		&__title
			font-size 26px
		&__description
			font-size 10px
	
