.main-title
	padding-bottom 80px
	color #ffffff
	&__subtitle
		font-size 36px
	&__title
		padding-top 20px
		padding-bottom 20px
		font-size 52px
		font-weight bold
	&__description
		font-size 16px