.title
	margin 30px auto
	width 70%
	font-family 'Raleway'
	font-size 30px
	font-weight 600
	text-align center
	color #555555
	
	&__description
		margin-bottom 20px
		padding-top 30px
		font-family 'Montserrat Light'
		font-size 16px
		font-weight 300
		color #8c8c8c

	&_video-player
		color $white

	&_mobile
		margin-bottom 40px
		width 100%
		line-height 25px
		text-align left
	@media (max-width:800px)
		margin-y 20px
		width 80%
		font-size 24px
		&_mobile
			width 100%
			text-align justify
		&__description
			margin-bottom 10px
			padding-top 15px
			font-size 14px
	@media (max-width:700px)
		margin-bottom 0
		font-size 18px
		&__description
			font-size 12px
	@media (max-width:541px)
		margin-y 5px
		width 100%
		font-size 16px
		&__description
			padding-top 5px
			font-size 10px
	@media (max-width:420px)
		font-size 12px
		&__description
			font-size 8px
	
		
	