.btn
	padding-x 25px
	padding-y 15px
	font-size 14px
	font-weight bold
	color #ffffff
	text-transform uppercase
	background-color #998675
	border none
	border-radius 4px
	box-shadow 0 3px 0 #736357
	transition background-color .5s ease-out
	will-change background-color

	&:hover
		background-color #736357

		// +below(1000px)
		// 	font-size 5px 
		
