.btn
	padding-x 25px
	padding-y 15px
	font-family 'Raleway'
	font-size 14px
	font-weight 700
	color $white
	text-transform uppercase
	background-color #998675
	border none
	border-radius 4px
	box-shadow 0 3px 0 #736357
	transition background-color .5s ease-out
	will-change background-color

	&:hover
		background-color #736357
