include /blocks/accordeon-item/accordeon-item

mixin accordeon()
	+b.accordeon&attributes(attributes)
		+accordeon-item('Nam liber tempor cum soluta nobis eleifend option;', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
		+accordeon-item('Option congue nihil imperdiet doming id quod mazim placerat facer;', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
		+accordeon-item('Eodem modo typi, qui nunc nobis videntur parum futurum;', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
		+accordeon-item('Investigationes demonstraverunt lectores', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.')
