extends /blocks/layout-default/layout-default
include /blocks/button/button
include /blocks/header/header
include /blocks/slider/slider
include /blocks/title/title
include /blocks/servise/servise

block head
	- var pageTitle = 'Waxom';

block content
	+header([
		{name:'Home', href:'#'},
		{name:'About us', href:'#'},
		{name:'Portfolio', href:'#'},
		{name:'Features', href:'#'},
		{name:'Blog', href:'#'},
		{name:'Pricing', href:'#'},
		{name:'Shortcodes', href:'#'},
		{name:'Contacts', href:'#'}
	])
	+title('Waxom is Realization of your Ideas.', 'Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.')
	+button('submit', 'Get started')  
	
	+service('design-icon', 'Web & App Design', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')
	//- +service('dev-icon', 'Development', 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.')
	//- +service('custom-icon', 'Customization', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')
	//- +service('marketing-icon', 'Marketing', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')

	//- br
	//- +button('reset', 'Очистить')
