extends /blocks/layout-default/layout-default
include /blocks/button/button
include /blocks/header/header
include /blocks/slider/slider

block head
	- var pageTitle = 'Waxom';

block content
	+header([
		{name:'Home', href:'#'},
		{name:'About us', href:'#'},
		{name:'Portfolio', href:'#'},
		{name:'Features', href:'#'},
		{name:'Blog', href:'#'},
		{name:'Pricing', href:'#'},
		{name:'Shortcodes', href:'#'},
		{name:'Contacts', href:'#'}
	])
	+button('submit', 'Get started')  
	
	//- br
	//- +button('reset', 'Очистить')
