include /blocks/button/button
include /blocks/header/header
include /blocks/slider/slider
include /blocks/title/title
include /blocks/services/services
include /blocks/container/container

mixin page()
	+b('body').page&attributes(attributes)
		block
