mixin video-youtube()
	+b.video-youtube&attributes(attributes)
		+e('iframe').frame(src='https://www.youtube.com/embed/AQkbbtDoPq0?enablejsapi=1' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
