mixin categories()
	+b.categories&attributes(attributes)
		+e('ul').list
			+e('li').item.categories__item_active All
			+e('li').item Web-Design
			+e('li').item Mobile App
			+e('li').item Illustration
			+e('li').item Photography
