.categories
	margin 20px 0

	&__list
		display flex
		justify-content center
		
	&__item
		margin 10px 5px
		padding 5px 25px
		cursor pointer
		color #949494
		border 1px solid #949494
		border-radius 5px
	@media (max-width:747px)
		padding-x 10px
		font-size 12px

	&__item_active
		color #ffffff
		background-color #998675
	@media (max-width:720px)
		margin 0
		&__list
			flex-wrap wrap
		&__item
			margin-top 0
	@media (max-width:444px)
		&__item
			padding-x 5px


