mixin categories()
	+b.categories&attributes(attributes)
		+e('ul').list
			+e('li').item.categories__item_active.all All
			+e('li').item(data-category = 'web-design') Web-Design
			+e('li').item(data-category = 'mobile-app') Mobile App
			+e('li').item(data-category = 'illustration') Illustration
			+e('li').item(data-category = 'photography') Photography
