.categories
	margin 20px 0

	&__list
		display flex
		justify-content center
		
	&__item
		margin 10px 5px
		padding 5px 25px
		cursor pointer
		color #949494
		border 1px solid #949494
		border-radius 5px

	&__item_active
		color #ffffff
		background-color #998675
