include /blocks/service/service

mixin services()
	+b('div').services&attributes(attributes)
		+service('design-icon', 'Web & App Design', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')
		+service('dev-icon', 'Development', 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.')
		+service('custom-icon', 'Customization', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')
		+service('marketing-icon', 'Marketing', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.')
