.header
	padding-y 40px
	display flex
	justify-content space-between

	&__logo
		padding-x 30px
		cursor pointer
	&__icon
		width 64px
		height 56px
		vertical-align middle
	&__text
		font-size 34px
		font-weight bold
		vertical-align middle

	&__menu
		margin-right 20px 
	&__nav
		padding-x 30px
		display flex
		align-items center
		justify-content space-between
	&__item
		margin-right 20px
		width 60px
		text-decoration none
		cursor pointer
		color #aeadac
		transition color .5s ease-out
		will-change color

		&:hover
			color #978979

	&__nav-icons
		display flex
		justify-content space-between
	&__nav-icon
		padding-right  10px
		width 24px
		height 24px 