img
	width 40%
.browsers
	&__images
		position relative
		margin-top 30px
		margin-bottom 30px

		.browser-left
			position absolute
			z-index -1
			top 51px
			left 15%
		.browser-right
			position absolute
			z-index 0
			top 51px 
			right 15%
		.browser-center
			position absolute
			z-index 1
			left 50%
			margin-right -50%
			transform translateX(-50%)
