include /blocks/statistyx-item/statistyx-item

mixin statistyx()
	+b.statistyx&attributes(attributes)
		+statistyx-item('clients', '3587', 'satisfied clients')
		+statistyx-item('cup', '207', 'cups of coffee')
		+statistyx-item('post', '2500', 'blog posts')
		+statistyx-item('likes', '873', 'likes')
		+statistyx-item('launch', '900', 'we launched')
