.footer
	&__wrap
		display flex
		justify-content space-between
		
	&__copyright,
	&__designed
		margin-bottom 10px

	&__item
		padding-x 10px
		color #555555
		border-right 1px solid #555555
		&:last-child
			border none
	&__link
		text-decoration none
		color #555555
		&_faq
			color #c7b299
		&_outer-link
			color $white
	@media (max-width:960px)
		&__wrap
			justify-content center
			flex-wrap wrap
	@media (max-width:486px)
		font-size 10px
		&__designed,
		&__copyright
			margin-bottom 5px
			display flex
			align-items center
	@media (max-width:390px)
		&__item
			padding-x 10px
	@media (max-width:350px)
		&__item
			padding-x 5px
			border none