.accordeon-item
	color #8c8c8c

	&__icon
		margin-top -3px
		margin-right 20px 
		float left
		width 21px
		height 21px
		color #998675
		&_active
			transform rotate(90deg)
	&__title
		margin-bottom 15px
		font-size 16px
		cursor pointer
		transition color .3s ease-in
		&:hover
			color #555555	
	&__description
		margin-bottom 15px
		display none