.slider
	width 100%
	height 500px
	
	&__inner
		display flex
		
	&__slide
		display flex
		flex-direction column
		width 100%
		align-items center
		text-align center
		background-color transparent
		border none
		justify-content center

	&__prev,
	&__next
		position absolute
		z-index 10
		top 50%
		transform translateY(-50%)
		cursor pointer
		background-color transparent
		border none
	
	&__prev
		left 20px

	&__next
		right 20px

	&__prev-img,
	&__next-img
		width 40px
		height 73px
		