mixin slider()
	+b.slider.js-slider.swiper-container
		+e.inner.swiper-wrapper
			+e.slide.swiper-slide Slide 1
			+e.slide.swiper-slide Slide 2
			+e.slide.swiper-slide Slide 3
		+e.prev-btn.swiper-button-prev
		+e.next-btn.swiper-button-next
		+e.pagination.swiper-pagination
