include /blocks/button/button
include /blocks/main-title/main-title

mixin slider()
	+b.slider.js-slider.swiper-container
		+e.inner.swiper-wrapper
			+e.slide.swiper-slide
				+main-title('Unique and Modern Design', 'Portfolio PSD Template', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.')
				+button('submit', 'Get started')
			+e.slide.swiper-slide Slide 2
			+e.slide.swiper-slide Slide 3
		+e('button').prev(type='button')
			+icon('left').prev-img
		+e('button').next(type='button')
			+icon('right').next-img
		+e.pagination
			+e('span').dot.slider__dot_active
			+e('span').dot
			+e('span').dot
