mixin slider()
	+b.slider.js-slider.swiper-container
		+e.inner.swiper-wrapper
			+e.slide.swiper-slide Slide 1
			+e.slide.swiper-slide Slide 2
			+e.slide.swiper-slide Slide 3
		+e.swiper-pagination
		+e.swiper-button-prev
		+e.swiper-button-next
