mixin logos()
	+b.logos&attributes(attributes)
		+e('a').link(href='#')
			+e('img').client-logo(src='/assets/images/client-logo-01.png' alt='client-logo-1')
		+e('a').link(href='#')
			+e('img').client-logo(src='/assets/images/client-logo-02.png' alt='client-logo-2')
		+e('a').link(href='#')
			+e('img').client-logo(src='/assets/images/client-logo-03.png' alt='client-logo-3')
		+e('a').link(href='#')
			+e('img').client-logo(src='/assets/images/client-logo-04.png' alt='client-logo-4')